* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(img/background.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: center;
  margin: 5rem;
  color: white;
}

h1 {
  margin-bottom: 1rem;
  color: rgb(27, 27, 167);
}
input {
  padding: 0.5rem;

  font-family: inherit;
  font-size: inherit;
  margin-bottom: 2rem;
}

.poke-image {
  width: 100%;
  object-fit: contain;
  height: 200px;
  /* align-items: center; */

  padding: 1rem;
}

.poke-card {
  background-color: white;
  filter: grayscale(90%);
  text-align: center;
  position: relative;
  border-radius: 5px;
}
.pokedex {
  max-width: 1200px;
  display: none;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 0 auto;
}
.poke-name,
.type {
  color: white;
  font-size: 14px;
  padding: 10px;
  background-color: rgb(59, 59, 156);
}
.type {
  color: black;
  background: rgb(59, 59, 156);
}
.poke-card:hover {
  filter: brightness(100%);
  filter: grayscale(0);
}

.pokedex div {
  background-color: rgb(255, 255, 255);
}
.features {
  display: flex;
}
.feature {
  font-size: 10px;
  width: 100%;
  padding: 7px;
  color: azure;
  /* position: relative; */
  background: #170c57;
}

.weight {
  text-align: right;
}
.height {
  text-align: left;
}

.id {
  position: absolute;
  background-color: black;
  top: 0;
  right: 0;
  font-size: 0.5rem;
  color: inherit;
  padding: 10px 10px;
  border-radius: 0 5px 0 12px;
}

@media (max-width: 900px) {
  .pokedex {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .pokedex {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .pokedex {
    grid-template-columns: repeat(1, 1fr);
  }
}
.type-img {
  height: 30px;
}
